.popup-avatar__container {
    /*margin-top: 195px;*/
    position: relative;
    width: 430px;
    color:#000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media screen and (max-width:534px){
    .popup-avatar__container {
        width: 282px;
    }    
}