.page {
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
}

