.header {
    margin: 0 auto 0;
    padding:45px 0 40px;
    max-width: 880px;
    max-height: 33px;
    border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

@media screen and (max-width:350px) {
    .header {
        padding-top: 28px;
        padding-bottom: 31.6px;
        max-height: 56px;
    }
}