.profile__title {
    grid-area: title;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}
@media screen and (max-width:392px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    .profile__title {
        margin-left: 28px;
    }
}