.profile-info__subtitle {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (max-width:450px) {
    .profile-info__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}