.form__input {
    border: 0;
    /*padding: 0;*/
    margin-bottom: 30px;
    padding: 0 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 358px;
    height: 14px;
    border: 0;
    border-bottom:1px solid rgb(0 0 0 / 0.2);
}
@media screen and (max-width:534px){
    .form__input {
        width: 238px;
    }
}

.form__input:focus {
	outline: none;
}