.form__close-icon {
    position: absolute;
    top: -40px;
    right: -40px;
}
@media screen and (max-width:534px){
    .form__close-icon {
        top: -48px;
        right: 0;
    }
}

.form__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}